[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
asn1crypto = "==0.24.0"
certifi = "==2019.3.9"
cffi = "==1.12.3"
chardet = "==3.0.4"
cryptography = "==3.2"
cssselect = "==1.0.3"
future = "==0.17.1"
idna = "==2.8"
lxml = "==4.6.2"
pycparser = "==2.19"
pyquery = "==1.4.0"
python-dateutil = "==2.8.0"
python-telegram-bot = "==11.1.0"
redis = "==3.2.1"
requests = "==2.21.0"
six = "==1.12.0"
termcolor = "==1.1.0"
urllib3 = "==1.24.3"
coloredlogs = "*"
pyopenssl = "*"

[requires]
python_version = "3.7"
